<div id="izda">
    <img src="../img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="../img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Cuando las personas se re&uacute;nen para alg&uacute;n fin, descubren que pueden tambi&eacute;n alcanzar otros fines, cuyo logro depende de su m&aacute;xima uni&oacute;n<img src="../img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="../img/guion.gif" alt="" width="10" height="9" />Thomas Carlyle</p><br /><br />
    
    <img src="../img/fotos/alianzas.jpg" width="400" height="249" alt="agb-formacion alianzas" />
    
</div>
<div id="centro">
    <div id="centroContenido"> 
        <h4>Alianzas</h4>
        <p><strong>agbformaci&oacute;n</strong> es una organizaci&oacute;n que opera en red bajo la filosof&iacute;a de interdependencia: colaboraci&oacute;n, alianza y cooperaci&oacute;n con otros profesionales y firmas. Siempre con el objetivo de ofrecer las mejores soluciones para cada proyecto-cliente, referente central en torno al cual creamos el equipo de trabajo m&aacute;s adecuado, en el que "mano con mano" integramos el talento y trabajo del equipo de expertos, con la experiencia e intereses de nuestros clientes.</p>
        
        <p>De acuerdo a esta filosof&iacute;a expuesta de Organizaci&oacute;n en Red y de Trabajo en Equipo, garantizamos la integraci&oacute;n complementaria de distintos recursos y metodolog&iacute;as mediante los acuerdos y alianzas que <strong>agbformacion</strong> ha establecido con diversas entidades y firmas. Estas son las principales:</p>
        
        <table id="alianzastabla">
            <tr>
                <td>BELBIN</td>
                <td><a href="http://www.belbin.com/"><img src="../img/clientes/belbin-alianzas.jpg" width="100" alt="Belbin" /></a></td>
                <td>Metodolog&iacute;a para el trabajo en equipo</td>
            </tr>
            <tr>
                <td>IPACE <br/>Psicolog&iacute;a Aplicada</td>
                <td><a href="http://www.ipacesl.es/"><img src="../img/clientes/ipace-alianzas.jpg" width="100" alt="Ipace" /></a></td>
                <td>Formaci&oacute;n subvencionada, Salud mental, Atenci&oacute;n Sociosanitaria</td>
            </tr>
            <tr>
                <td>Ideo <br/>Consultores</td>
                <td><a href="http://www.ideoconsultores.net/"><img src="../img/clientes/ideo-alianzas.jpg" width="100" alt="Ideo" /></a></td>
                <td>Consultor&iacute;a y Formaci&oacute;n</td>
            </tr>
            <tr>
                <td>C2B (Campus To Business)</td>
                <td><a href="http://www.campus2b.com"><img src="img/clientes/c2b.jpg" width="100" alt="C2B (Consultoría y formación)" /></a></td>
                <td>Consultoría y formación</td>
            </tr>
            <tr>
                <td>PoderSaberQuerer</td>
                <td><a href="http://www.podersaberquerer.com/"><img src="../img/clientes/podersaberquerer-alianzas.jpg" width="100" alt="PoderSaberQuerer" /></a></td>
                <td>Consultor&iacute;a y Coach Ejecutivo</td>
            </tr>
            <tr>
                <td>Aylasearching</td>
                <td><a href="http://www.aylasearching.com/"><img src="../img/clientes/aylasearching-alianzas.jpg" width="100" alt="Aylasearching" /></a></td>
                <td>Formaci&oacute;n y Selecci&oacute;n</td>
            </tr>
            <tr>
                <td>AM Consultores</td>
                <td><a href="http://www.am-consultores.net/"><img src="../img/clientes/am-consultores-alianzas.jpg" width="100" alt="Antonio Mart&iacute;nez Consultores" /></a></td>
                <td>Calidad y Organizaci&oacute;n Industrial</td>
            </tr>
            <tr>
                <td>Gizakide</td>
                <td><a href="http://www.gizakide.com/"><img src="../img/clientes/gizakide-alianzas.jpg" width="100" alt="Gizakide" /></a></td>
                <td>Integraci&oacute;n de Personas</td>
            </tr>		
        </table>
    </div>
</div>
