<div id="izda">
    <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <br/>
    <p class="cita"><img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Transmitir que es posible cambiar, que es posible tomar las riendas de la propia vida personal y profesional, y caminar hacia el bienestar y la felicidad interior<img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="img/guion.gif" alt="" width="10" height="9" />An&oacute;nimo</p>
    <video autoplay>
	   <source src="/multimedia/videos/crecimiento.mp4" type="video/mp4">
	       Tu navegador no soporta el elemento video.
    </video>    
</div>
<div id="centro">
    <div id="centroContenido"> 
        <h4>agb Crecimiento Personal</h4>
        <p>Hoy en d&iacute;a, cada vez son mayores los malestares originados en las personas por las dificultades/problemas que les rodean y por la presencia de <b>relaciones dif&iacute;ciles</b> dentro del entorno laboral, lo cual se traduce en un mayor n&uacute;mero de bajas laborales y un menor rendimiento/productividad.</p>
        <img src="/img/fotos/crecimiento-personal.jpg" alt="agb crecimiento personal  - relajacion" height="246" width="340" class="borde"/>
        <p>Desde <strong>agb formaci&oacute;n</strong> proponemos <b>intervenir directamente en las personas</b>, como base y fundamento de las organizaciones, para que &eacute;stas aprendan a gestionar mejor sus emociones y malestares, a manejar mejor sus habilidades de relaci&oacute;n para con los compa&ntilde;eros-as/jefes-as/subordinados-as, y a vivir con m&aacute;s positivismo tanto en su vida personal como profesional, lo que <b>redundar&aacute; en un crecimiento personal</b> y en una mejora de los estados an&iacute;micos y las relaciones humanas, <b>posibilitando un incremento en su rendimiento/productividad.</b></p>
        <ul class="lista">
            
            <li>Gestión de estrés / Técnicas de autocontrol / Mindfulness / Técnicas de relajación</li>
            <li>Inteligencia Emocional / Autoestima / Gestión de emociones</li>
            <li>HH de comunicación / Asertividad / HH Sociales / Relaciones Humanas / Atención al cliente y usuario </li>
            <li>Risoterapia / Humor en las organizaciones</li>
            <li>Liderazgo / Trabajo en equipo / HH directivas</li>
            <li>Coaching personal y ejecutivo</li>
        </ul>
    </div>
</div>
