<div id="izda">
    <img src="../img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="../img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Buscando el bien de nuestros semejantes, encontraremos el nuestro<img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="../img/guion.gif" alt="" width="10" height="9" />Plat&oacute;n</p>
    <img src="../img/fotos/clientes.jpg" width="400" height="246" alt="agb-formacion" />
</div>
<div id="centro">
    <div id="centroContenido"> 
				<table width="369" border="0">
					<tr>
						<td><img src="img/clientes/gamesa.jpg" width="150" height="120" alt="Gamesa" /></td>
						<td><img src="img/clientes/camara-comercio-alava.jpg" width="150" height="120" alt="C&aacute;mara de Comercio de &Aacute;lava" /></td>
						</tr>
					<tr>
						
						<td><img src="img/clientes/diputacion-vizcaya.jpg" width="150" height="120" alt="Diputaci&oacute;n de Vizcaya" /></td>
						<td><img src="img/clientes/diputacion-alava.jpg" width="150" height="120" alt="Diputaci&oacute;n de &Aacute;lava" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/bbk.jpg" width="150" height="120" alt="BBK" /></td>
						<td><img src="img/clientes/eulen.jpg" width="150" height="120" alt="Eulen" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/clece.jpg" width="150" height="120" alt="Clece" /></td>
						<td><img src="img/clientes/montaner.jpg" width="150" height="120" alt="Montaner y Asociados" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/sescam.jpg" width="150" height="120" alt="Sescam" /></td>
						<td><img src="img/clientes/tgss-alava.jpg" width="150" height="120" alt="TGSS de &Aacute;lava" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/insalud.jpg" width="150" height="120" alt="Insalud" /></td>
						<td><img src="img/clientes/satse.jpg" width="150" height="120" alt="Satse. Sindicato de Enfermer&iacute;a" /></td>				
						</tr>
					<tr>
						<td><img src="img/clientes/sacyl.jpg" width="150" height="120" alt="Sacyl" /></td>
						<td><img src="img/clientes/fuden.jpg" width="150" height="120" alt="Fuden" /></td>
					</tr>
					<tr>
						<td><img src="img/clientes/ministerio-trabajo-inmigracion.jpg" width="150" height="120" alt="Ministerio de Trabajo e Inmigraci&oacute;n" /></td>
						<td><img src="img/clientes/belbin.jpg" width="150" height="120" alt="Belbin" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/ipace.jpg" alt="Ipace" width="150" height="120" /></td>
						<td><img src="img/clientes/ofyde.jpg" alt="Ofyde" width="150" height="120" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/grupo-urgatzi.jpg" alt="Grupo Urgatzi" width="150" height="120" /></td>
						<td><img src="img/clientes/fislem.jpg" width="150" height="120" alt="Fislem" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/inem.jpg" width="150" height="120" alt="Inem" /></td>
						<td><img src="img/clientes/forem.jpg" width="150" height="120" alt="Forem" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/Escuela-ciencias-de-la-salud.jpg" width="150" height="120" alt="Escuela de Ciencias de la Salud" /></td>
						<td><img src="img/clientes/consultec.jpg" width="150" height="120" alt="Consultec" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/nuevo-futuro.jpg" width="150" height="120" alt="Nuevo Futuro" /></td>
						<td><img src="img/clientes/aesap.jpg" width="150" height="120" alt="Aesap - Femarec" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/aspace.jpg" width="150" height="120" alt="Confederaci&oacute;n Aspace" /></td>
						<td><img src="img/clientes/gorabide.jpg" width="150" height="120" alt="Gorabide" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/apnabi.jpg" width="150" height="120" alt="Apnabi. Autismo Bizkaia" /></td>
						<td><img src="img/clientes/uribe-costa.jpg" width="150" height="120" alt="Uribe Costa" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/sindrome-down-pais-vasco.jpg" width="150" height="120" alt="Fundaci&oacute;n S&iacute;ndrome Down del Pa&iacute;s Vasco" /></td>
						<td><img src="img/clientes/guztiontzat.jpg" width="150" height="120" alt="Guztiontzat Servicios Sociales" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/afami.jpg" width="150" height="120" alt="Afami. Asociaci&oacute;n Familiares Alzheimer Miranda" /></td>
						<td><img src="img/clientes/arabako-laguntza.jpg" width="150" height="120" alt="Arabako Laguntza" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/mendibil.jpg" width="150" height="120" alt="Asociaci&oacute;n Pedag&oacute;gica Mendibil" /></td>
						<td><img src="img/clientes/hospital-manzanares.jpg" width="150" height="120" alt="Hospital Virgen de Altagracia - Manzanares" /></td>
						</tr>
					<tr>
						<td><img src="img/clientes/escuela-enfermeria-ciudad-real.jpg" width="150" height="120" alt="Escuela de Enfermer&iacute;a de Ciudad Real" /></td>
						<td><img src="img/clientes/cruz-roja.jpg" width="150" height="120" alt="Cruz Roja" /></td>

					</tr>

					<tr>
						<td><img src="img/clientes/hospital-alcorcon.jpg" width="150" alt="Hospital Alcorcón" /></td>
						<td><img src="img/clientes/osakidetza.jpg" width="150" height="120" alt="Osakidetza" /></td>

					</tr>
					
					<tr>
						<td><img src="img/clientes/prink.jpg" width="150" height="120" alt="Prink" /></td>
						<td><img src="img/clientes/Florette.jpg" width="150" height="120" alt="Florette" /></td>
					</tr>
                    
                    <tr>
						<td><img src="img/clientes/apdema.jpg" width="150" height="120" alt="apdema" /></td>
						<td><img src="img/clientes/bizitza-berria.jpg" width="150" height="120" alt="bizitza berria" /></td>
					</tr>

                    <tr>
						<td><img src="img/clientes/c2b.jpg" width="150" height="120" alt="c2b" /></td>
						<td><img src="img/clientes/egintza.jpg" width="150" height="120" alt="egintza" /></td>
					</tr>

                    <tr>
						<td><img src="img/clientes/hospital-san-onofre.jpg" width="150" height="120" alt="Hostipatl Son Onofre" /></td>
						<td><img src="img/clientes/hospital-univesitario-ciudad-real.jpg" width="150" height="120" alt="Hospital Universitario Ciudad Real" /></td>
					</tr>
				</table>

    </div>
</div>
