<div id="izda">
    <img src="../img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="../img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Tu no puedes ense&ntilde;arle nada a un hombre. S&oacute;lo puedes ayudarle a descubrir lo que hay dentro de s&iacute; mismo<img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="../img/guion.gif" alt="" width="10" height="9" />Plat&oacute;n</p>
    <img src="../img/fotos/bolsa-trabajo.jpg" width="400" height="246" alt="agb-formacion" />
</div>
<div id="centro">
    <div id="centroContenido">
        <p> 
        ¿Tienes experiencia en formaci&oacute;n dirigida a profesionales en activo?</p>
        <p>¿Quieres formar parte de la Bolsa de expertos formadores de <strong>agb formaci&oacute;n</strong>?</p>
        <br/>
        <p>Si est&aacute;s interesado en entrar en nuestra red de formadores-consultores y tu curr&iacute;culum y perfil personal est&aacute;n dentro de nuestra l&iacute;nea de trabajo, puedes 
        <strong><a href="agbformacion-bolsa-trabajo2.aspx">  enviarnoslo</a></strong> a nuestra direcci&oacute;n de contacto y lo estudiaremos atentamente. </p>
        <div id="formulario">
            <form>
                <div>
                    <span>Nombre</span>
                    <input type="text" id="formNombre"></input>    
                </div>                        
                <div>
                    <span>Apellidos</span>
                    <input type="text" id="formApellidos"></input>    
                </div>                        
                <div>
                    <span>Teléfono</span>
                    <input type="tel" id="formTelefono"></input>    
                </div>                        
                <div>
                    <span>Email</span>
                    <input type="email" id="formEmail"></input>    
                </div>
                <div>
                    <span>Selecciona archivo/s</span>
                    <input type="file" id="formFile" multiple name="files[]">
                    <output id="list"></output>
                </div>
            </form>
        </div>				
        <p><img src="fotos/bolsa-de-trabajo.jpg" width="283" height="424" alt="Bolsa de trabajo para agb formaci&oacute;n" /></p>
    </div>
</div>
