<div id="izda">
    <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita">
        <img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Cuando las personas se re&uacute;nen para alg&uacute;n fin, descubren que pueden tambi&eacute;n alcanzar otros fines,
        cuyo logro depende de su m&aacute;xima uni&oacute;n
        <img src="img/comillas_c.gif" alt="comillas" width="12" height="10"
            class="comillas" />
    </p>
    <p class="autor">
        <img src="img/guion.gif" alt="" width="10" height="9" />Thomas Carlyle</p>
    <br />
    <br />
    <video autoplay loop>
        <source src="multimedia/videos/equipo.mp4" type="video/mp4"> Tu navegador no soporta el elemento video.
    </video>

</div>
<div id="centro">
    <div id="centroContenido">
        <h1>Aviso legal</h1>
        <p>agbformación en cumplimiento de la Ley de Servicios de la Sociedad de la Información y de Comercio Electrónico, le
            informa de que:</br>
            Su denominación social es agbformación</br>
            Su CIF es 11.932.376-E</br>
            Su domicilio social está en C/Olaguibel 6-1º Izq, 01001-Vitoria/Gasteiz</br>
            Para comunicarse con nosotros, ponemos a su disposición los siguientes medios de contacto:</br>
            Postal: dirigiéndose a nuestro domicilio social. </br>
            Vía email:
            <a href="mailto:info@agbformacion.es" class="enlace">info@agbformacion.es</a>
        </p>
    </div>
</div>