<div id="izda">
    <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Cuando las personas se re&uacute;nen para alg&uacute;n fin, descubren que pueden tambi&eacute;n alcanzar otros fines, cuyo logro depende de su m&aacute;xima uni&oacute;n<img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="img/guion.gif" alt="" width="10" height="9" />Thomas Carlyle</p><br /><br />
    <video autoplay loop>
	   <source src="multimedia/videos/equipo.mp4" type="video/mp4">
	       Tu navegador no soporta el elemento video.
    </video>

</div>
<div id="centro">
    <div id="centroContenido"> 
        <h1>Política de Protección de Datos</h1>
        <p>A efectos de la Ley Orgánica 15/1999, de Protección de Datos de Carácter Personal, le informamos de que sus datos serán incluidos en un fichero cuyo responsable es agbformación, 
            que ha sido notificado y registrado ante la Agencia Española de Protección de Datos y que cuenta con las medidas de seguridad necesarias para garantizar la total seguridad sus los datos. 
            Ud. autoriza su uso para intercambio de servicios e información comercial. Como usuario podrá en todo momento ejercitar los derechos de acceso, rectificación, cancelación y oposición, 
            así como solicitar la revocación del consentimiento para la cesión de sus datos, dirigiéndose por escrito a la siguiente dirección: Isabel Orbe, 7 – 4º dch  01002-Vitoria/Gasteiz, 
            o bien mediante el envío de un correo electrónico a <a href="mailto:info@agbformacion.es" class="enlace">info@agbformacion.es</a></p>
    </div>
</div>     
