<div id="izda">
    <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita">
        <img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Cuando las personas se re&uacute;nen para alg&uacute;n fin, descubren que pueden tambi&eacute;n alcanzar otros fines,
        cuyo logro depende de su m&aacute;xima uni&oacute;n
        <img src="img/comillas_c.gif" alt="comillas" width="12" height="10"
            class="comillas" />
    </p>
    <p class="autor">
        <img src="img/guion.gif" alt="" width="10" height="9" />Thomas Carlyle</p>
    <br />
    <br />
    <video autoplay loop>
        <source src="multimedia/videos/equipo.mp4" type="video/mp4"> Tu navegador no soporta el elemento video.
    </video>

</div>
<div id="centro">
    <div id="centroContenido">
        <h1>Política de privacidad</h1>
        <p>Cuando precisemos obtener información por su parte, siempre le solicitaremos que nos la proporcione voluntariamente
            prestando su consentimiento expreso a través del medio que se indique en el sitio web u otras vías.
        </p>
        <p>
            <strong>Finalidades del tratamiento de los datos personales</strong>
            De acuerdo con lo dispuesto en la normativa vigente, el Cliente queda informado de que todos los datos facilitados en nuestra
            relación comercial son necesarios a los efectos de su formalización. Dichos datos, además de los obtenidos como
            consecuencia de la ejecución de dicha relación, serán tratados por agbformacion con domicilio en C/Olaguibel
            6-1º Izq, VITORIA en su calidad de Responsable del Tratamiento, con fines informativos y publicitarios sobre
            nuestros servicios y productos. Dichos tratamientos serán realizados dando estricto cumplimiento a la legislación
            vigente y en la medida que sean necesarios para la ejecución del contrato y/o la satisfacción de los intereses
            legítimos de agbformacion, siempre que sobre estos últimos no prevalezcan otros derechos del Cliente. Siempre
            que el cliente lo haya aceptado explícitamente, sus datos personales serán tratados, incluso una vez finalizada
            la relación contractual y siempre que no se produzca la oposición a dicho tratamiento, para: la promoción de
            servicios añadidos y la presentación de propuestas comerciales vinculadas a nuestra actividad.
        </p>
        <p>
            <strong>Legitimación para el tratamiento de tus datos</strong>
            La base legal para el tratamiento de sus datos radica en: La ejecución de un contrato en relación con la finalidad indicada
            en el apartado anterior. El consentimiento del usuario en relación con la finalidad indicada en el apartado anterior.
            El interés legítimo de agbformacion en relación con la finalidad indicada en el apartado anterior. El cumplimiento
            de obligaciones legales aplicables a agbformacion para la finalidad indicada en el apartado anterior.
        </p>

        <p>
            <stong>Categorías de datos personales objeto de tratamiento</stong>
            En virtud de la relación contractual, agbformacion podrá tratar los siguientes tipos de datos personales: (I) Datos identificativos
            (nombre, apellidos, DNI, dirección postal, dirección de correo electrónico, etc.), (II) Códigos o claves de identificación
            de usuario y/o Cliente, (III) Datos de características personales (fecha de nacimiento, sexo, nacionalidad, etc.),
            (IV) Datos de circunstancias sociales (aficiones, estilo de vida, estado civil, etc.), (V) Datos económicos,
            financieros, de solvencia y/o de seguros.

        </p>

        <p>
            <strong>Conservación de sus datos</strong>
            Los datos personales serán conservados durante la vigencia de la relación contractual y como máximo, durante el plazo de
            prescripción de las acciones legales correspondiente, salvo que el Cliente autorice su tratamiento por un plazo
            superior, aplicándose desde el comienzo del tratamiento medidas organizativas y de seguridad para garantizar
            la integridad, confidencialidad, disponibilidad y resiliencia de los datos personales
        </p>

        <p>
            <strong>Comunicaciones y destinatarios de los datos personales</strong>
            Todos los datos personales derivados de la prestación del servicio y los obtenidos en virtud del presente contrato podrán
            ser comunicados a las siguientes entidades: (I) Empresas del grupo agbformacion, produciéndose con las mismas
            un intercambio de información permanente para la adecuada prestación del servicio, entre ellos ……, (II) Los Organismos
            y Administraciones Públicas que por ley corresponda, (III) Los bancos y entidades financieras para el cobro de
            los servicios prestados, (IV) Otras empresas del grupo empresarial, únicamente para fines administrativos internos
            y la gestión de los productos y servicios contratados, (V) Servicios de solvencia patrimonial y crédito de ámbito
            nacional, a los que, en caso de impago, sin causa justificada por parte del Cliente, s e podrá comunicar la deuda,
            así como servicios de prevención contra el fraude, con el único fin de identificar información errónea o fraudulenta
            facilitada durante el proceso de contratación, (VI) Proveedores y Encargados de Tratamiento de agbformacion necesarios
            para el adecuado cumplimiento de las obligaciones contractuales, incluso aquellos que pueden estar ubicados fuera
            del Espacio Económico Europeo, encontrándose en tal caso debidamente adecuada la transferencia internacional
            de datos.
        </p>

        <p>
            <strong>Derechos del titular de los datos</strong>
            El Cliente contará, en todo momento, con la posibilidad de ejercitar de forma libre y completamente gratuita los siguientes
            derechos: (I) Acceder a sus datos personales que son tratados por parte de agbformacion, (II) Rectificar sus
            datos personales que son tratados por parte de agbformacion que resulten inexactos o incompletos, (III) Suprimir
            sus datos personales que son tratados por parte de agbformacion, (IV) Limitar el tratamiento por parte de agbformacion
            de todos o parte de sus datos personales, (V) Oponerse a determinados tratamientos y adopción de decisiones automatizadas
            de sus datos personales, requiriendo la intervención humana en el proceso, así como a impugnar las decisiones
            que sean finalmente adoptadas en virtud del tratamiento de sus datos, (VI) Portar sus datos personales en un
            formato interoperable y autosuficiente, (VII) Retirar, en cualquier momento, los consentimientos otorgados previamente.
            De conformidad con la normativa vigente, el usuario puede ejercer sus derechos solicitándolo por escrito, y junto
            a una copia de documento fehaciente de acreditación de la identidad, en la siguiente dirección postal: C/ Olaguibel
            6-1º Izq, VITORIA 01001 o en el correo electrónico info@agbformacion.es . Igualmente, podrá ponerse en contacto
            con el delegado de protección de datos de agbformacion, en la siguiente dirección postal: c/ Olaguibel 6-1º Izq,
            VITORIA 01001 o en el correo electrónico info@agbformacion.es , en el caso de que entienda vulnerado alguno de
            sus derechos relacionados con la protección de datos, o en su caso, interponer una reclamación ante la Agencia
            Española de Protección de Datos en la dirección Calle de Jorge Juan, 6, 28001 Madrid
        </p>

        <p>
            <strong>Otras webs</strong>
            Si opta por abandonar nuestro sitio web a través de enlaces a sitios web no pertenecientes a nuestra entidad, agbformacion
            no se hará responsable de las políticas de privacidad de dichos sitios web ni de las cookies que éstos puedan
            almacenar en el ordenador del usuario.
        </p>

        <p>
            <strong>Correo electrónico</strong>
            Nuestra política con respecto al correo electrónico se centra en remitir únicamente comunicaciones que usted haya solicitado
            recibir. Si prefiere no recibir estos mensajes por correo electrónico le ofreceremos a través de los mismos la
            posibilidad de ejercer su derecho de supresión y renuncia a la recepción de estos mensajes, en conformidad con
            lo dispuesto en el Título III, artículo 22 de la Ley 34/2002, de Servicios para la Sociedad de la Información
            y de Comercio Electrónico.
        </p>

        <p>
            <strong>Cambios a esta Política de Privacidad</strong>
            Podemos modificar esta Política de Privacidad periódicamente. La versión más reciente de la Política regulará el tratamiento
            que realizamos de sus datos personales y estará siempre disponible en www.agbformacion.es . En caso de que modifiquemos
            dicha Política en algún extremo que, a nuestro exclusivo criterio, sea relevante, se lo notificaremos por medio
            de un correo electrónico enviado a la dirección mail asociada con su cuenta. Al continuar accediendo o utilizando
            los Servicios después de efectuados dichos cambios, el usuario acepta estar sujeto a la Política de Privacidad
            revisada.
        </p>

    </div>
</div>