<div id="izda">
    <img src="/img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="/img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />La vida es como los espejos:  ponles mala cara y te resultar&aacute;n siniestros, sonr&iacute;eles y te sonrerir&aacute;n
    <img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="/img/guion.gif" alt="" width="10" height="9" />Proverbio</p><br />

    </p>
    <video autoplay>
	   <source src="/multimedia/videos/risoterapia.mp4" type="video/mp4">
	       Tu navegador no soporta el elemento video.
    </video>

</div>
<div id="centro">
    <div id="centroContenido">
        <h4><strong>agb Risoterapia</strong></h4>
        <a name="Risoterapia-en-organizaciones"></a>
        <h4>Risoterapia en Organizaciones</h4>
        <ul class="lista">Hoy en día uno de los problemas a los que se enfrentan las organizaciones es el alto nivel de absentismo laboral originado por problemas relacionados con el estr&eacute;s y los conflictos personales dentro de los equipos de trabajo. A trav&eacute;s de los talleres de Risoterapia se pueden paliar estos problemas, incidiendo directamente sobre estos factores, ya que:
            <li>La risa cohesiona un grupo &ldquo;m&aacute;s que el pegamento&rdquo;: Uno de los efectos secundarios mas habituales despu&eacute;s de uno de nuestros talleres, es el de experimentar una fuerte sensaci&oacute;n de <b>cohesi&oacute;n grupal</b>, es decir, de pertenencia al grupo</li>
            <li>Se comparte un nuevo espacio donde se <b>pierden los roles habituales</b> de funcionamiento en la organizaci&oacute;n</li>
            
            <li>Se produce una <b>desinhibición</b> muy positiva y sorprendente</li>
            <li>Aumenta la <b>empatía</b> del grupo</li>
            <li>Permite ver la realidad de forma mucho m&aacute;s <b>positiva</b></li>
            <li>Es una oportunidad para <b>liberarse del estr&eacute;s</b> y la tensi&oacute;n generados por la jornada laboral</li>
            <li>La colaboración, el trabajo en equipo, la <b>creatividad</b>, son beneficios que tambi&eacute;n se desarrollan durante el taller, y que ayudan posteriormente a que los grupos que trabajan juntos, se comuniquen de manera m&aacute;s efectiva.</li>
        </ul>
        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-01.jpg" width="347" height="246" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />
        <p>Poco a poco, las organizaciones están tomando conciencia de estas posibilidades y de cómo sus trabajadores-as rinden mucho m&aacute;s cuando est&aacute;n contentos y felices, por lo que recurren con m&aacute;s frecuencia a este tipo de estrategias para conseguir dichos resultados.</p>
        <br />
        <p class="cita"><img src="/img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" /> Si sonr&iacute;es a la vida, la vida te sonreir&aacute;
        <img src="/img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
        <p class="autor"><img src="/img/guion.gif" alt="" width="10" height="9" />Proverbio Indio</p>
        <br />

        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-02.jpg" width="347" height="246" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />
        
        <h4><a name="Risoterapia-que-es">&iquest;Qu&eacute; es la Risoterapia?</a></h4>
        
        <p>
            La Risoterapia es una hermosa terapia que nos ayuda a desbloquear nuestras emociones reprimidas o bloqueadas, a hallar una profunda relajaci&oacute;n, nos abre la puerta del sentir y del amar, nos invita a ser creativos y din&aacute;micos y sobre todo, nos acompa&ntilde;a en el camino a la felicidad. Es la estrategia de curaci&oacute;n mediante la risa, tambi&eacute;n llamada Geloterapia, que consigue <b>generar estados de &aacute;nimo buenos que influyen en nuestro cuerpo y nuestra mente.</b> 
        </p>
        <p>
            La verdadera risoterapia es la que incide en nuestra forma de pensar para tener un mejor sentido del humor, y ese humor no es re&iacute;rse de todo y por todo, sino aprender a percibir las cosas de la vida de una forma m&aacute;s alegre, m&aacute;s agradable y m&aacute;s placentera. 
        </p>
        
        <br />
        <p class="cita">
        <img src="/img/comillas_a.gif" alt="comillas" width="10" height="8" class="comillas" />No te tomes la vida en serio, no saldr&aacute;s vivo de ella<img src="img/comillas_c.gif" alt="comillas" width="10" height="8" class="comillas" /></p>
        <p class="autor"><img src="img/guion.gif" alt="" width="10" height="9" />Elbbert Hubbard</p>
        <br />

        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-03.jpg" width="347" height="246" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />
        
        <h4><a name="Risoterapia-sentido-del-humor">El sentido del Humor</a></h4>
        <ul class="lista">El Sentido del humor supone una actitud ante la vida que engloba 4 dimensiones:
            <li>Crear humor: Ingenio, gracia, chistes, capacidad de divertir, ver el sentido c&oacute;mico de las cosas</li>
            <li>Apreciaci&oacute;n del humor: Capacidad para disfrutar de la vida, del presente, del ahora, de las cosas peque&ntilde;as, de las situaciones cotidianas</li>
            <li>Afrontamiento optimista de problemas: Es la capacidad de afrontar problemas sin hundirse, para mantener el optimismo a pesar de las preocupaciones, para mostrase alegre incluso en situaciones dif&iacute;ciles. </li>
            
            <li>Ofrecer confianza, infundir &aacute;nimo: Capacidad para transmitir confianza, alegr&iacute;a, para facilitar el acercamiento, para ser afectivo, cari&ntilde;oso</li>
        </ul>
        
        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-04.jpg" width="347" height="246" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />

        <p>El Sentido del Humor se basa en la capacidad de re&iacute;rnos de nosotros mismos y de lo malo que nos sucede, de reaccionar ante la adversidad con una sonrisa... contribuyendo a un bienestar subjetivo.</p>
        
        <br />
        <p class="cita"><img src="/img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />
            La risa quita dinero a los m&eacute;dicos
        <img src="/img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
        <p class="autor"><img src="/img/guion.gif" alt="" width="10" height="9" />Mark Twain</p>
        <br />
        
        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-05.jpg" width="347" height="246" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />
        
        <h4><a name="Risoterapia-beneficios">Beneficios de la Risoterapia</a></h4>
        <ul class="lista">
            <li>El buen humor nos permite recuperar el <b>bienestar emocional y f&iacute;sico</b>, aumentando por lo tanto el rendimiento y la eficacia de las personas</li>
            
            <li>Nos permite afrontar los problemas de una manera m&aacute;s <b>positiva y optimista</b>  buscando soluciones m&aacute;s creativas y m&aacute;s eficaces</li>
            <li>Facilita la <b>desconexi&oacute;n de los problemas</b> y las preocupaciones cotidianas del d&iacute;a a d&iacute;a personal y profesional</li>
            <li>Mejora las <b>relaciones humanas</b> en todos los &aacute;mbitos</li>
            <li>Nos permite conectar con nuestro <b>ni&ntilde;o/a interior</b>, recuperando su magia y creatividad</li>
            <li>Ayuda a desbloquear las emociones reprimidas, permitiendo que afloren al exterior</li>
            <li>Ayuda a paliar los efectos negativos del estr&eacute;s cotidiano y profesional.</li>					
            <li>Desarrolla la imaginaci&oacute;n, la intuici&oacute;n, la creatividad y la capacidad emp&aacute;tica y de comunicaci&oacute;n</li>
            <li>Combate el insomnio y mejora la salud general</li>
            <li>El cuerpo incrementa la producci&oacute;n de sustancias qu&iacute;micas como las endorfinas que generan una sensaci&oacute;n de euforia y sirven de analg&eacute;sico natural al organismo</li>
            <li>Se produce una sensaci&oacute;n final difusa de relajaci&oacute;n y <b>felicidad</b></li>
        </ul>
        
        <br />
        <p class="cita"><img src="/img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />
            Aprende a disfrutar de las peque&ntilde;as cosas de la vida, pues las grandes no suelen llegar muy a menudo
        <img src="/img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
        <p class="autor"><img src="/img/guion.gif" alt="" width="10" height="9" />Andy Rooney</p>
        </br>	
        
        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-10.jpg" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />
        <p class="piedefoto">Tengamos un buen &ldquo;fin de&rdquo; diario</p>
        <br />
        <h4><a name="Taller-risoterapia">&iquest;C&oacute;mo es un taller de Risoterapia?</a></h4>
        
        <p>Los Gelot&oacute;logos no somos humoristas sino t&eacute;cnicos de la risa, es decir, utilizamos herramientas para provocar la risa. </p>
        
        <p>La metodolog&iacute;a formativa es una metodolog&iacute;a BASADA EN LA EXPERIENCIA y en LA PR&Aacute;CTICA  de diferentes juegos y actividades enormemente participativas y atractivas, siempre dentro de un ambiente de confianza y de libertad, encaminados a desarrollar los objetivos anteriormente descritos y a conectar con nuestro &ldquo;ni&ntilde;o-a interior&rdquo;.</p>
        
        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-06.jpg" width="347" height="246" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />
        
        <ul class="lista">El taller se realiza combinando diferentes ejercicios, juegos, t&eacute;cnicas corporales y t&eacute;cnicas para re&iacute;r de manera sana y natural, desde el respeto a la persona, donde el juego es nuestra mejor herramienta. Las estrategias a utilizar son:
            <li>Cuentos y f&aacute;bulas</li>
            <li>Estiramientos</li>
            <li>Juegos y din&aacute;micas de grupo</li>
            <li>T&eacute;cnicas de la din&aacute;mica de la risa</li>
            <li>Musicoterapia</li>
            <li>Expresi&oacute;n corporal </li>
            <li>Respiraciones y relajaciones</li>
            <li>Visualizaciones creativas</li>
            <li>Masajes relajantes</li>
            <li>Inteligencia emocional </li>
            <li>Se produce una sensaci&oacute;n final difusa de relajaci&oacute;n y felicidad</li>
        </ul>

        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-07.jpg" width="347" height="246" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />
        
        <p>Los talleres comenzar&aacute;n con una peque&ntilde;a introducci&oacute;n te&oacute;rica sobre algunos aspectos del humor y del juego, del positivismo..., para pasar seguidamente a realizar juegos de calentamiento, para desbloquear el cuerpo y que nos permitan desinhibirnos  para la realizaci&oacute;n de juegos m&aacute;s intensos. Terminaremos siempre con ejercicios de distensi&oacute;n y relajaci&oacute;n, y la puesta en com&uacute;n de lo acontecido en el taller.</p>
        
        <p>En todo momento se pretende lograr una comunicaci&oacute;n fluida en el grupo y con el grupo, que permita una amplia participaci&oacute;n por parte de los-as alumnos-as de los talleres. Este desarrollo metodol&oacute;gico se presenta flexible y espec&iacute;fico a cada grupo, y a sus propios objetivos e intereses.</p>

        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-08.jpg" width="246" height="360" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />
        
        <ul class="lista">La dieta del Buen Vivir:
            <li>Dar y recibir es lo mismo. Lo que das vuelve</li>
            <li>Ofrecer comprensi&oacute;n y ayuda </li>
            <li>Elogiar y piropear a tus amigos</li>
            <li>Recuerde el objeto de su vida constantemente: Ser feliz y amar y ser amado.</li>
            <li>Rodearte de gente de tu agrado</li>
            <li>Evitar los comentarios negativos y el cotilleo</li>
            <li>Brindar sonrisas con las personas que te cruces</li>
        </ul>

        <img class="borde" src="/img/risoterapia/risoterapia vitoria-bilbao-gipuzkoa-pais vasco-09.jpg" width="246" height="360" alt="risoterapia vitoria-bilbao-gipuzkoa-pais vasco" />
        <p class="piedefoto">Ya estoy preparado para el taller..&iquest;Te quieres apuntar?</p><br />
        <h4>Visor de Fotos</h4>
        <p><a href="#/risoterapia-visor-fotos">Visor de fotos de las actividades de Risoterapia</a></p>
    </div>
</div>