<div id="izda">
    <img src="/img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="/img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Si se interroga a los hombres haciendo bien las preguntas, &eacute;stos descubrir&aacute;n por si mismos la verdad de las cosas
    <img src="/img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="/img/guion.gif" alt="" width="10" height="9" />Plat&oacute;n</p><br />

        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="264" id="FlashID2" title="Risoterapia">
            <param name="movie" value="/multimedia/flash/risoterapia.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <param name="swfversion" value="8.0.35.0" />
            <!-- Esta etiqueta param indica a los usuarios de Flash Player 6.0 r65 o posterior que descarguen la versi&oacute;n m&aacute;s reciente de Flash Player. Elim&iacute;nela si no desea que los usuarios vean el mensaje. -->
            <param name="expressinstall" value="scripts/expressInstall.swf" />
            <!-- La siguiente etiqueta object es para navegadores distintos de IE. Oc&uacute;ltela a IE mediante IECC. -->
            <!--[if !IE]>-->
            <object type="application/x-shockwave-flash" data="/multimedia/flash/risoterapia.swf" width="400" height="264">
                <!--<![endif]-->
                <param name="quality" value="high" />
                <param name="wmode" value="opaque" />
                <param name="swfversion" value="8.0.35.0" />
                <param name="expressinstall" value="scripts/expressInstall.swf" />
                <!-- El navegador muestra el siguiente contenido alternativo para usuarios con Flash Player 6.0 o versiones anteriores. -->
                <div>
                    <h4>El contenido de esta p&aacute;gina requiere una versi&oacute;n m&aacute;s reciente de Adobe Flash Player.</h4>
                    <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Obtener Adobe Flash Player" width="112" height="33" /></a></p>
                </div>
                <!--[if !IE]>-->
            </object>
            <!--<![endif]-->
        </object>
    </p>
</div>
<div id="centro">
    <div id="centroContenido">
        &nbsp;
        <object id="flash1" data="/multimedia/flash/fotos-risoterapia.swf" height="600" type="application/x-shockwave-flash" width="400">
            <param name="movie" value="/multimedia/flash/fotos-risoterapia.swf" />
            <param name="quality" value="High" />
        </object>
    </div>
</div>
