<div id="izda">
    <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Si se interroga a los hombres haciendo bien las preguntas, &eacute;stos descubrir&aacute;n por si mismos la verdad de las cosas
    <img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="img/guion.gif" alt="" width="10" height="9" />Plat&oacute;n</p><br />
        <video autoplay>
        <source src="multimedia/videos/risoterapia.mp4" type="video/mp4">
        Tu navegador no soporta el elemento video.
        </video>
    </p>
</div>
<div id="centro">
    <div id="centroContenido">
        <div ng-controller="carouselRisoterapiaController">
            <div style="width: 450px">
                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <p class="carousel-caption">{{slide.text}}</p>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>        
    </div>  
</div>

