<div id="izda">
    <img src="../img/logo-agb-formacion.jpg" alt="logo agb formación" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="../img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Si se interroga a los hombres haciendo bien las preguntas, éstos descubrirán por sí mismos la verdad de las cosas<img src="../img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="../img/guion.gif" alt="" width="10" height="9" />Plat&oacute;n</p>
    <object id="flash1" data="../multimedia/flash/inicio.swf" height="246" type="application/x-shockwave-flash" width="400">
        <param name="movie" value="multimedia/flash/inicio.swf" />
    </object>
</div>
<div id="centro">
    <div id="centroContenido"> 
        <img src="../img/fotos/inicio.jpg" alt="agb formaci&oacute;n - Quienes somos" width="380" height="285" />
        <p><strong>agb formación</strong> es una empresa que tiene como objetivo fundamental dar respuesta a las necesidades de <b>formaci&oacute;n y desarrollo de las personas</b> en las organizaciones. </p>
        
        <br />
        <p>Nuestra misión es <b>ayudar a las personas</b> dentro de las organizaciones, a desarrollar toda una serie de competencias y habilidades personales y sociales que les permitan <b>crecer y desarrollarse de forma integral</b>
            en sintonía con la propia organización y sus objetivos previstos.</p>
        <br />
        <p><b>Buscamos el bienestar personal y relacional</b>, para a través de ello <b>mejorar la eficiencia y la consecuci&oacute;n de los objetivos</b> organizacionales.</p>
    </div>
</div>     

 