<div id="izda">
    <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />La calidad en la formaci&oacute;n no es una meta, sino un camino que no tiene fin
    <img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="img/guion.gif" alt="" width="10" height="9" />Fernando Andr&eacute;s</p>
    <img src="img/fotos/fondo-social-europeo.jpg" width="400" height="246" alt="agb-formacion" />
</div>
<div id="centro">
    <div id="centroContenido"> 
        <h4>FUNDACIÓN TRIPARTITA Y FONDO SOCIAL EUROPEO</h4>
        <p><strong>agb formaci&oacute;n</strong> gestiona acciones formativas subvencionadas enmarc&aacute;ndolas dentro de las convocatorias anuales de la <b>Fundaci&oacute;n Tripartita</b> para la Formaci&oacute;n en el Empleo y el <B>Fondo Social Europeo</B>, en el marco del III Acuerdo Nacional de Formaci&oacute;n Contin&uacute;a.</p>
        
        <p>El r&eacute;gimen de financiaci&oacute;n que otorga es el de las <b>BONIFICACIONES</b> en las cotizaciones a la seguridad social, es decir, una minoraci&oacute;n en el pago de los seguros sociales por parte de la empresa</p>
        <p>Son empresas beneficiarias todas las que tengan centros de trabajo en el territorio estatal cualquiera que sea su tama&ntilde;o y ubicaci&oacute;n, el importe que anualmente se pueden bonificar las empresas depende del n&ordm; de trabajadores y el importe de cotizaci&oacute;n en concepto de formaci&oacute;n profesional....y que evidentemente realicen formaci&oacute;n.</p>
        <p>La normativa reguladora es la <a href="https://nubelocal.innovup.cc/index.php/s/tEJvZLXNl4qUKft" target="_blank"><b>Ley 30/2015</b> del Sistema de Formación para el empleo (9-9-2015)</a>, y en ella se especifican los procedimientos para que un concurso llegue a ser bonificado"
        </p>
        <br />
        <h4>&iquest;C&oacute;mo puedo bonificar un curso?</h4>
        <p>Primero la empresa debe firmar un CONTRATO DE ENCOMIENDA DE ORGANIZACIÓN DE LA FORMACION con una entidad de formaci&oacute;n que trabaje con la Fundaci&oacute;n tripartita, este convenio habilita a la empresa de formaci&oacute;n a realizar los tr&aacute;mites necesarios, a trav&eacute;s de una plataforma web,  para obtener la bonificaci&oacute;n</p>
        <p>En l&iacute;neas generales, antes de la realizaci&oacute;n de un curso hay que notificar a trav&eacute;s de una plataforma web el inicio del mismo as&iacute; como todos los detalles (fechas, lugar, horarios...). Posteriormente,  hay que comunicar su finalizaci&oacute;n...y si todo est&aacute; en orden se procede a su bonificaci&oacute;n!! </p>
        <br />
        <h4>&iquest;Qu&eacute; importe me puedo bonificar por curso?</h4>
        <ul class="lista">Partiendo del l&iacute;mite del cr&eacute;dito que tenga la empresa, en t&eacute;rminos generales podemos decir que si la formaci&oacute;n ha sido presencial y realizada en su mayor&iacute;a en horario de trabajo, el importe a bonificar ser&aacute; la resultante de: 
            <li>Para cursos de nivel b&aacute;sico:      9 &euro; X n&ordm; de trabajadores X n&ordm; de horas</li>
            <li>Para cursos de nivel superior:   13 &euro; X n&ordm; de trabajadores X n&ordm; de horas</li>
        </ul>
    </div>
</div>
