<div id="izda">
    <img src="/img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="/img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Seg&uacute;n mi experiencia, solamente se dejan llamar y agudizar las conciencias que ya est&aacute;n despiertas<img src="/img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="/img/guion.gif" alt="" width="10" height="9" />Hermann Hess</p>
    <img src="/img/fotos/fcs.jpg" width="400" height="246" alt="agb-formacion" />
</div>
<div id="centro">
    <div id="centroContenido"> 
        <h4>Formaci&oacute;n Continua Subvencionada</h4><br />
        <p><strong>agb formaci&oacute;n</strong> le ofrece un servicio integral de asesoramiento, gesti&oacute;n y formaci&oacute;n que les ayudar&aacute; a <b>NO PERDER las cuotas de formaci&oacute;n</b> que por Ley le corresponden a todas las empresas para el reciclaje profesional de sus trabajadores y trabajadoras <b>(Fundaci&oacute;n Tripartita)</b> y las ayudas/subvenciones a la formaci&oacute;n de <b>HOBETUZ</b>.</p>
        <ul class="lista">Adem&aacute;s, ponemos a disposici&oacute;n de las empresas, un equipo de profesionales con amplia experiencia que les ayudar&aacute;n si lo desean a:
            <li>Gestionar su cuota de formaci&oacute;n</li>
            
            <li>Cumplimentar la documentaci&oacute;n requerida por la convocatoria en vigor</li>
            <li>Organizar la formaci&oacute;n de los trabajadores y trabajadoras</li>
        </ul>
        <p>Por lo que le sugerimos, no lo dude, cuente con profesionales conocedores del sistema, que estar&aacute;n pendientes en todo momento de los procedimientos a seguir, ahorr&aacute;ndole tiempo y facilit&aacute;ndoles el acceso a la formaci&oacute;n que requieran.</p>
        
        <p><img src="/img/flecha.gif" /><a href="#/fondo-social-europeo"> Fundaci&oacute;n Tripartita y Fondo Social Europeo</a></p>
        <p><img src="/img/flecha.gif" /> <a href="#/hobetuz"> Hobetuz</a></p>
        <p><img src="/img/flecha.gif" /> <a href="#/formacion-continua-privada"> Oferta Formativa actual en agb formaci&oacute;n</a></p>
        <p><img src="/img/flecha.gif"/> <a href="#/nuevo-modelo"> Nuevo Modelo de Formaci&oacute;n Continua</a></p>
    </div>
</div>
