<div id="izda">
    <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />La no preparaci&oacute;n es prepararte para el fracaso
    <img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="img/guion.gif" alt="" width="10" height="9" />J.Soto<br />
        <br />
        <br />
        <br />
    </p>
    
    <img src="img/fotos/hobetuz.jpg" width="400" height="246" alt="agb-formacion" />
</div>
<div id="centro">
    <div id="centroContenido"> 
        <h4>HOBETUZ</h4>
        
        <p>Asimismo, <strong>agb formaci&oacute;n</strong> ofrece la posibilidad de asesoramiento y orientaci&oacute;n para la solicitud y gesti&oacute;n de las ayudas a la Formaci&oacute;n Continua que anualmente oferta HOBETUZ</p>
        
        <p>El funcionamiento de Hobetuz, es por convocatorias anuales y su f&oacute;rmula de financiaci&oacute;n es a trav&eacute;s de subvenciones a la formaci&oacute;n.</p>
        <p>Tipos de convocatorias de Hobetuz: OFERTA y DEMANDA.</p><br />
        
        <h4>Convocatoria de Oferta</h4>
        <p> La convocatoria de OFERTA est&aacute; dirigida a los trabajadores, y los beneficiarios de la subvenci&oacute;n son los agentes sociales y los centros de formaci&oacute;n homologados por el Gobierno Vasco.</p>
        <p>Estos centros de formaci&oacute;n ofertan los cursos de forma cerrada (con fechas, horarios y lugar de impartici&oacute;n) y son los trabajadores los que en funci&oacute;n de sus intereses acuden a los cursos</p>
        <br />
        
        <h4>Convocatoria de Demanda</h4>
        <p>La convocatoria de DEMANDA est&aacute; orientada a las empresas con cuenta de cotizaci&oacute;n en el Pa&iacute;s Vasco, y el beneficiario de la subvenci&oacute;n es la propia empresa.</p>
        <p>La propia empresa es la que dise&ntilde;a un plan de formaci&oacute;n anual a su medida, y solicita la subvenci&oacute;n. Una vez concedida &eacute;sta, ella misma se encarga de ejecutarlo. </p>        
        <p>Desde <strong>agb formaci&oacute;n</strong> ofrecemos el servicio de <b>solicitud de la subvenci&oacute;n, ejecuci&oacute;n del plan de formaci&oacute;n </b>y posterior <b>realizaci&oacute;n de la memoria</b></p>
    </div>
</div>
