<div id="izda">
    <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Si no sabes a donde quieres ir...!Corres el riesgo de encontrarte en otra parte!
    <img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="img/guion.gif" alt="" width="10" height="9" />Peter</p>
    <img src="img/fotos/grupo.jpg" width="400" height="246" alt="agb-formacion" />
</div>
<div id="centro">
    <div id="centroArriba">

    </div>
    <div id="centroContenido"> 
        <h4>Nuevo modelo de Formaci&oacute;n Continua</h4>
        <p><strong>agb formaci&oacute;n</strong> puede gestionar la obtenci&oacute;n de financiaci&oacute;n para la formaci&oacute;n continua y la gesti&oacute;n de la misma y ofrece a las empresas la gesti&oacute;n global de la formaci&oacute;n a medida de sus trabajadores</p>
        
        <p>Para obtener la subvenci&oacute;n es necesario previamente realizar de manera telem&aacute;tica una serie de procedimientos, tarea que 
        <strong>agb formaci&oacute;n</strong> realizar&aacute; para aquellas empresas para las que gestione la impartici&oacute;n de cursos de reciclaje, si estas diversas comunicaciones telem&aacute;ticas previas para cada curso y trabajador no se realizan o se realizan fuera de los plazos establecidos el coste de la formaci&oacute;n realizada no se podr&aacute; bonificar.</p>
        <p>Una vez finalizado cada curso se obtiene la subvenci&oacute;n descontando, mediante bonificaci&oacute;n de las cotizaciones a la Seguridad Social el importe correspondiente a la factura emitida en concepto de organizaci&oacute;n y formaci&oacute;n. S&oacute;lo ser&aacute;n v&aacute;lidas aquellas facturas cuyo emisor sea una empresa autorizada.</p>
        <p>Si es de inter&eacute;s para su empresa rentabilizar al m&aacute;ximo todos sus gastos, ahora y por primera vez puede invertir una parte de sus costos en Seguros Sociales en la Formaci&oacute;n continua competencial de sus trabajadores y nuestra empresa le puede facilitar todos los aspectos de esta operaci&oacute;n.</p>
        <p><a href="https://nubelocal.innovup.cc/index.php/s/tEJvZLXNl4qUKft" target="_blank">
        <img src="img/pdf.png" alt="versi&oacute;n pdf" class="sinborde" /></a></p>
        <p>Más información: <a href="http://www.fundaciontripartita.org">http://www.fundaciontripartita.org/</a></p>
    
    </div>
</div>
