<embed src="multimedia/SonidosdelBosque.mp3" hidden="true"> </embed> <noembed> <bgsound src="multimedia/SonidosdelBosque.mp3" hidden="true"> </noembed>

<div id="izda">
        <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
        <p class="cita"></p>
        <p class="cita"><img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />T&uacute; no puedes ense&ntilde;ar nada a un hombre. S&oacute;lo puedes ayudarle a descubrir lo que hay dentro de s&iacute; mismo
        <img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
        <p class="autor"><img src="/img/guion.gif" alt="" width="10" height="9" />Galileo</p>
        <img src="img/fotos/lago.jpg" width="400" height="246" alt="agb-formacion" />
</div>
<div id="centro">
    <!--<div id="centroArriba">

    </div>-->
    <div id="centroContenido"> 
        <h4>Qu&eacute; ofrecemos</h4>
        
        <ul class="lista">
            <li>Gesti&oacute;n del conocimiento mediante formaci&oacute;n de calidad</li>
            <li>Dise&ntilde;o totalmente personalizado y a  medida de las necesidades formativas de las personas y de los equipos de su empresa</li>
            <li>Asesoramiento y gesti&oacute;n de las posibilidades de subvenci&oacute;n y/o bonificaci&oacute;n de la formaci&oacute;n</li>
            </ul>
        <p><img src="img/flecha.gif" /> <a href="#/formacion-continua-subvencionada">Formación Continua Subvencionada</a></p>			
        <p><img src="img/flecha.gif" /> <a href="#/formacion-continua-privada">Formación Continua Privada</a></p>
        <p><img src="img/flecha.gif" /> <a href="#/outdoor-training">Formación Experiencial Outdoor Training - Team Building</a></p>
        <p><img src="img/flecha.gif" /> <a href="#/crecimiento-personal">Formación en Crecimiento Personal dentro de las organizaciones</a></p>
        <p><img src="img/flecha.gif" /> <a href="#/risoterapia">Risoterapia</a></p>
    
    </div>
</div>
