<div ng-controller="rightController">
  <h1>agb formación</h1>
  <div id="MenuRisoterapia">
    <strong
      ><a href="#/risoterapia" ng-click="mostrarRisoterapia()"
        >agb Risoterapia</a
      ></strong
    >
    <div id="subMenusRisoterapia" style="display:none">
      <div class="enlaces" id="SubMenuRisoterapia">
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="" ng-click="goto('Risoterapia-en-organizaciones')"
          >Risoterapia en Organizaciones</a
        ><br />
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="" ng-click="goto('Risoterapia-que-es')">¿Qué es?</a><br />
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="" ng-click="goto('Risoterapia-sentido-del-humor')"
          >El sentido del humor</a
        ><br />
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="" ng-click="goto('Risoterapia-beneficios')">Beneficios</a
        ><br />
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="" ng-click="goto('Taller-risoterapia')">¿Cómo es un taller?</a
        ><br />
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="#/risoterapia-visor-fotos">Galería de fotos</a><br />
      </div>
    </div>
  </div>

  <div id="MenuOutdoor">
    <strong
      ><a href="#/outdoor-training" ng-click="mostrarOutdoor()"
        >agb Outdoor Training</a
      ></strong
    >
    <div id="subMenusOutdoor" style="display:none">
      <div class="enlaces" id="SubMenuOutdoor">
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="" ng-click="goto('OutdoorMarcador1')">Qué es</a><br />
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="" ng-click="goto('OutdoorMarcador2')">Beneficios</a><br />
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="#/outdoor-training-visor-fotos">Galería de fotos</a><br />
        <img src="img/flecha.gif" alt="" width="7" height="7" />
        <a href="#/outdoor-training-video">Video Presentación Team Building</a
        ><br />
      </div>
    </div>
  </div>

  <div id="MenuCrecimiento">
    <strong
      ><a href="#/crecimiento-personal">agb Crecimiento Personal</a></strong
    >
  </div>
  <h1>CLIENTES</h1>
  <p>
    <video autoplay loop>
      <source src="multimedia/videos/clientes.mp4" type="video/mp4" />
      Tu navegador no soporta el elemento video.
    </video>
  </p>
  <h1>ACREDITACIÓN</h1>
  <p><img src="img/belbin-acreditacion.png" alt="Acreditación Belbin" /></p>

  <div class="btn-group" uib-dropdown>
    <button
      id="split-button"
      type="button"
      class="btn btn-primary"
      uib-dropdown-toggle
    >
      Zona Relax<span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/e4ldzh9996lydfl/Musica%20de%20pajaros.pps?dl=0"
          target="_blank"
          >Música de pájaros</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/dopoup6kokack4z/Paisajes%20Fantasticos.pps?dl=0"
          target="_blank"
          >Paisajes Fantásticos</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/iz2xxrj7buc97x5/Filosofia2014.pps?dl=0"
          target="_blank"
          >Filosofía de vida</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/zdg71l966srnofq/Respiracion-y-calma.pps?dl=0"
          target="_blank"
          >Respiración y calma</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/tqkzoi2eob72mpr/Bajo-el-agua.pps?dl=0"
          target="_blank"
          >Bajo el agua</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/rnq8t438laxeqjd/El-silencio-de-los-bosques.pps?dl=0"
          target="_blank"
          >El silencio de los bosques</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/r9dnko3q1rznul8/Escucha-al-mar.pps?dl=0"
          target="_blank"
          >Escucha al mar</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/gmfq8d4t05yyq68/Fotos%20desde%20el%20cielo.pps?dl=0"
          target="_blank"
          >Fotos desde el cielo</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/nfrcro1cbhzqedz/Rayos.pps?dl=0"
          target="_blank"
          >Rayos</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/s/658rpfy9b06cf1a/Lecciones%20de%20Vida.pps?dl=0"
          target="_blank"
          >Lecciones de vida</a
        >
      </li>
    </ul>
  </div>

  <div class="btn-group cursos" uib-dropdown>
    <button
      id="split-button"
      type="button"
      class="btn btn-primary"
      uib-dropdown-toggle
    >
      Zona Cursos<span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/sh/9unc0kja2cv2p1p/AAAXMTsy_1WsQiOl2DBesilga?dl=0"
          target="_blank"
          >Gestión de estrés</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/sh/eq4btxdw63ozmz3/AAD0rXSY9jsioMT4K11K-qNFa?dl=0"
          target="_blank"
          >Inteligencia Emocional</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/sh/2o6l7hb2nq3s9h3/AAAmIo0ZbQWGYnn78EXAk3BQa?dl=0"
          target="_blank"
          >Trabajo en Equipo</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/sh/oa2qar51s3o871s/AAD7oCkgPBYoMmRaiPtY15rua?dl=0"
          target="_blank"
          >Liderazgo - Habilidades directivas</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/sh/iaqptu6317t05nf/AAB-iZDsasZtA9qdaXqv7VZPa?dl=0"
          target="_blank"
          >Risoterapia</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/sh/v8j1drmwge0yay7/AAAlmhE95qwXKQv6ehlUoa2-a?dl=0"
          target="_blank"
          >Mindfulness</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/sh/9jkbr19frry7f6i/AADz-czMvPXqn9nDi8__4BOCa?dl=0"
          target="_blank"
          >Habilidades de comunicación y Relaciones Humanas</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/sh/zm6f3nqpabxem4z/AAAVQnTXA-e7t0ipFApaxYxpa?dl=0"
          target="_blank"
          >Técnicas de relajación y respiración</a
        >
      </li>
      <li role="menuitem">
        <a
          href="https://www.dropbox.com/sh/z1kdypyykccgcv7/AAADfRfskHd7KICNvGvMCHnBa?dl=0"
          target="_blank"
          >Varios</a
        >
      </li>
    </ul>
  </div>
</div>
