<div id="izda">
    <img src="../img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="../img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Cuando las personas se re&uacute;nen para alg&uacute;n fin, descubren que pueden tambi&eacute;n alcanzar otros fines, cuyo logro depende de su m&aacute;xima uni&oacute;n<img src="../img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="autor"><img src="../img/guion.gif" alt="" width="10" height="9" />Thomas Carlyle</p><br /><br />
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="246" id="FlashID2" title="agb formaci&oacute;n - equipo - Aitor Guti&eacute;rrez Bark&iacute;n">
        <param name="movie" value="../multimedia/flash/equipo.swf" />
        <param name="quality" value="high" />
        <param name="wmode" value="opaque" />
        <param name="swfversion" value="8.0.35.0" />
        <!-- Esta etiqueta param indica a los usuarios de Flash Player 6.0 r65 o posterior que descarguen la versi&oacute;n m&aacute;s reciente de Flash Player. Elim&iacute;nela si no desea que los usuarios vean el mensaje. -->
        <param name="expressinstall" value="Scripts/expressInstall.swf" />
        <!-- La siguiente etiqueta object es para navegadores distintos de IE. Oc&uacute;ltela a IE mediante IECC. -->
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="../multimedia/flash/equipo.swf" width="400" height="246">
            <!--<![endif]-->
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <param name="swfversion" value="8.0.35.0" />
            <param name="expressinstall" value="Scripts/expressInstall.swf" />
            <!-- El navegador muestra el siguiente contenido alternativo para usuarios con Flash Player 6.0 o versiones anteriores. -->
            <div>
                <h4>El contenido de esta p&aacute;gina requiere una versi&oacute;n m&aacute;s reciente de Adobe Flash Player.</h4>
                <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Obtener Adobe Flash Player" width="112" height="33" /></a></p>
            </div>
        </object>
    </object>
</div>
<div id="centro">
    <div id="centroContenido"> 
        <h4>Nuestro equipo</h4>
        <p>El equipo de formadores-consultores que colabora con <strong>agb formaci&oacute;n</strong> son profesionales pertenecientes a distintas disciplinas/&aacute;reas (rrhh, empresa, servicios sociales, sanitarios, educativos...) y son el valor m&aacute;s importante de la empresa y la esencia de nuestra actividad.</p>
        <p>Esta visi&oacute;n/servicio multidisciplinar nos permite abordar las necesidades de desarrollo de las personas y de las organizaciones desde una perspectiva globalizadora. Toda la red de formadores-consultores que componen <strong>agb formaci&oacute;n</strong> poseen los conocimientos y la experiencia necesaria para ofrecer un servicio formativo de primera calidad a nuestros clientes, dando especial relevancia al compromiso y la calidad humana de cada formador-consultor.<br />
            Nuestro &aacute;mbito de actuaci&oacute;n est&aacute; repartido por toda la geograf&iacute;a espa&ntilde;ola.</p>
        <p>El equipo est&aacute; bajo la direcci&oacute;n de <a href="https://nubelocal.innovup.cc/index.php/s/7XnRNHoDsHUyD4L" target="_blank">Aitor Guti&eacute;rrez-Bark&iacute;n</a>.</p>
        <p><img src="../img/fotos/Aitor-Gutierrez-Barkin.jpg" width="300" height="230" alt="Aitor Guti&eacute;rrez Bark&iacute;n" /></p>

    </div>
</div>