<div id="izda">
    <img src="img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Oigo 
    y olvido, veo y recuerdo, hago y APRENDO<img src="img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="cita">&nbsp;</p>
    <p class="cita">&nbsp;</p>
    <img src="img/fotos/outdoor-training.jpg" width="400" height="246" alt="agb-formacion" />			
</div>
<div id="centro">
    <div id="centroContenido"> 
        <h4><strong>agb Outdoor Training</strong></h4>
        <h4><a name="OutdoorMarcador1">Qu&eacute; es</a></h4>
        
        <p>El outdoor training es una metodolog&iacute;a de formaci&oacute;n que cada vez m&aacute;s empresas utilizan para formar y desarrollar a sus empleados. Consiste en una <b>combinaci&oacute;n de formaci&oacute;n cl&aacute;sica en aula, con ejercicios y pruebas al aire libre</b>, donde los participantes aprenden a desarrollar toda una serie de competencias, actitudes y habilidades para el <b>trabajo en equipo, el liderazgo</b>, y para una m&aacute;s f&aacute;cil consecuci&oacute;n de objetivos... </p>
        
        <img class="borde" src="img/outdoortraining/outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco-01.jpg" width="347" height="246"  alt="outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco" />
        
        <p>El Outdoor Training es una herramienta alternativa a la formaci&oacute;n acad&eacute;mica que resulta altamente motivante, pr&aacute;ctica y bastante entretenida y en la que se trabajan principalmente las competencias y actitudes de los participantes, las cuales en ocasiones dif&iacute;cilmente se pueden trabajar sino es a trav&eacute;s de una <b>metodolog&iacute;a eminentemente experiencial</b>, donde cada uno aprende a trav&eacute;s de la propia vivencia/experiencia.</p>
        
        <ul class="lista">El ciclo que seguimos en la formaci&oacute;n experiencial es:
            <li>Vivencia/experiencia</li>
            <li>Reflexi&oacute;n y an&aacute;lisis grupal</li>
            <li>Plan de Acci&oacute;n</li>
        </ul>
        
        <img class="borde" src="img/outdoortraining/outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco-02.jpg" width="347" height="246"  alt="outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco" />				
        
        <p>Nuestra metodolog&iacute;a formativa no se queda solamente en la realizaci&oacute;n de pruebas o ejercicios sino que despu&eacute;s de cada ejercicio, con la ayuda de un consultor en formaci&oacute;n experiencial se procede al an&aacute;lisis y <b>reflexi&oacute;n grupal en el aula</b>, sobre lo acontecido en el exterior donde son los propios participantes los que van tomando conciencia de sus propias fortalezas y oportunidades de mejora.</p>
        <p>Esta formaci&oacute;n termina siempre con la elaboraci&oacute;n de un <b>Plan Individual de Acci&oacute;n</b> donde cada participante se compromete consigo mismo y con sus compa&ntilde;eros a realizar los esfuerzos pertinentes para la mejora de resultados en su realidad laboral.</p>

        <img class="borde" src="img/outdoortraining/outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco-03.jpg" alt="outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco" width="347" height="246"/>

        <ul class="lista">Las acciones formativas son totalmente personalizadas y adaptadas a la situaci&oacute;n particular de cada organizaci&oacute;n:
            <li>Seg&uacute;n objetivos marcados</li>
            <li>Adaptadas al perfil de los participantes</li>
            <li>Combinaci&oacute;n Outdoor- Indoor</li>
            <li>Duraci&oacute;n flexible</li>
            <li>Movilidad geogr&aacute;fica absoluta</li>
            <li>Equipo altamente cualificado para el desarrollo de cualquier actividad y, sobre todo, con la enorme ilusi&oacute;n de quien disfruta con su trabajo </li>													
        </ul>			
        
        <img class="borde" src="img/outdoortraining/outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco-04.jpg" width="347" height="246"  alt="outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco" />			
                    
        <h4><a name="OutdoorMarcador2">Beneficios</a></h4>
        
        <ul class="lista">
            <li>Experiencia intensa, motivante en s&iacute; misma: 
                <b>crea, motiva y desarrolla </b>personas/equipos</li>
            
            <li>Un entorno diferente favorece una mejora en la <b>comunicaci&oacute;n</b> y <b>cohesi&oacute;n </b>de equipos.</li>
            <li>Permite adquirir una <span class="negrita">visi&oacute;n diferente</span> de los compa&ntilde;eros</li>
            <li><span class="negrita">Motivaci&oacute;n </span>para enfrentarse a los compromisos diarios y afrontarlos de manera positiva. </li>
            
            <li>Mejora la reacci&oacute;n ante cualquier situaci&oacute;n de <b>presi&oacute;n en el trabajo</b>.</li>
            <li>Aumenta la <b>confianza </b>entre compa&ntilde;eros.</li>
            <li>Impulsa una <b>cultura de mejora continua</b> y aprendizaje.</li>
            <li>El car&aacute;cter din&aacute;mico facilita la identificaci&oacute;n de <b>Fortalezas </b>y <b>&Aacute;reas </b>de <b>Mejora</b>.</li>
            
            <li>Al compartir experiencias sienta las bases de <b>compromisos </b>individuales y grupales.</li>
        </ul>

        <img class="borde" src="img/outdoortraining/outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco-05.jpg" width="347" height="246"  alt="outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco" />			

        <p>Al asociar los aprendizajes con estados e impactos emocionales positivos, la perdurabilidad de lo aprendido es mucho mayor que con cualquier otro m&eacute;todo de formaci&oacute;n.</p>
        <p>Todo esto hace que el <b>Outdoor Training</b> sea una de las <b>herramientas</b> m&aacute;s <b>poderosas</b> de formaci&oacute;n y de desarrollo de las personas de las organizaciones.  </p>
        <p>Esta metodolog&iacute;a tambi&eacute;n sirve para llevar a cabo <b>procesos de selecci&oacute;n</b>, <b>de promoci&oacute;n</b> dentro de la empresa, para la <b>transmisi&oacute;n de valores organizacionales</b>, desarrollo del liderazgo....</p>
        
        <img class="borde" src="img/outdoortraining/outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco-06.jpg" width="347" height="246"  alt="outdoor training-team building vitoria-bilbao-gipuzkoa-pais vasco" />
            <br />
        <h4>Visor de Fotos</h4>
        <p><a href="#/outdoor-training-visor-fotos">Visor de fotos de las actividades Outdoor Training</a></p><br />
    </div>
</div>
