<div id="izda">
    <img src="/img/logo-agb-formacion.jpg" alt="logo agb formaci&oacute;n" width="400" height="179" id="logo" />
    <p class="cita"></p>
    <p class="cita"><img src="/img/comillas_a.gif" alt="comillas" width="12" height="10" class="comillas" />Oigo
    y olvido, veo y recuerdo, hago y APRENDO<img src="/img/comillas_c.gif" alt="comillas" width="12" height="10" class="comillas" /></p>
    <p class="cita">&nbsp;</p>
    <p class="cita">&nbsp;</p>
    <img src="/img/fotos/outdoor-training.jpg" width="400" height="246" alt="agb-formacion" />
</div>
<div id="centro">
    <div id="centroContenido">
        <object id="flash1" data="/multimedia/flash/fotos-outdoor-training.swf" height="600" type="application/x-shockwave-flash" width="400">
            <param name="movie" value="/multimedia/flash/fotos-outdoor-training.swf" />
        </object>
    </div>
</div>
